@import "./color.module.css";

.app {
  position: relative;
  height: 100%;
  width: 100%;
}

.toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: var(--background-color);
}

.components {
  position: absolute;
  top: 100px;
  left: 0;
  width: 50px;
  border-right: 1px solid #333;
}

.tree {
  position: absolute;
  right: 0;
  top: 100px;
  width: 200px;
  border-left: 1px solid #333;
}

.drawer {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-right: 200px;
  padding-left: 50px;
}
